
h1, h2 {
  color: red;
  text-decoration: underline;
}

.parties {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.party {

  max-width: 310px;
  border: 1px solid #000;
}
