<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body> 

    <header>
      <nav>
        <a href="/">Etusivu</a> |
        <a href="/search">Haku</a> |
        {% if session.user_id %}
        <a href="/create">Luo kutsu</a> |
        <span>
          Olet kirjautunut nimellä
        </span>
          <a href="/user/{{ session.user_id }}">{{ session.displayname }}</a>
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a> |
        <a href="/register">Luo tunnus</a>
        {% endif %}
      </nav>
    </header>


    {% for message in get_flashed_messages() %}
    <div class="info">
      {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}  

  </body>
</html>
