{% extends "base.html" %}

{% block title %}Luo juhlakutsu{% endblock %}

{% block content %}
<div class="form create">
<form action="/create" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <br>
  <label for="title" class="required" title="Pakollinen kenttä. 1-49 merkkiä">Juhlien nimi</label> <br>
  <input
      type="text"
      id="title"
      name="title"
      placeholder="Juhlien nimi"
      maxlength="50"
      required>
  <br>
  <label for="description" class="required" title="Pakollinen kenttä. 1-1999 merkkiä">Kuvaus</label> <br>
  <textarea
      id="description"
      rows="8"
      cols="40"
      name="description"
      placeholder="Kuvaus"
      maxlength="2000"
      required></textarea>
  <br>
  <label for="start_date" class="required" title="Pakollinen kenttä">Alkamis ajankohta</label> <br>
  <input
      type="datetime-local"
      id="start_date"
      name="start_date"
      placeholder="Valitse"
      min="{{ yesterday }}"
      max="{{ max_date }}"
      required>
  <br>
  <label for="category">Valitse kategoria</label> <br>
  <select name="category">
    <option value="">valitse</option>
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="entry_fee">Sisäänpääsymaksu</label> <br>
  <input
      type="number"
      id="entry_fee"
      name="entry_fee"
      placeholder="Hinta (&euro;)"
      >
  <br>
  <button type="submit">Luo</button>
  <p class="actions">
    <a href="/" class="cancel">Takaisin</a>
  </p>
</form>
</div>
{% endblock %}
