{% extends "base.html" %}

{% block title %}Muokkaa juhlaa {{ party.title }}{% endblock %}

{% block content %}
<form action="/edit/{{ party.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <label for="title">Juhlien nimi</label> </br >
  <input
      type="text"
      id="title"
      name="title"
      placeholder="Juhlien nimi"
      maxlength="50"
      value="{{ party.title }}"
      required>
  </br >
  <label for="description">Kuvaus</label> </br >
  <textarea
      id="description"
      rows="8"
      cols="60"
      name="description"
      placeholder="Kuvaus"
      maxlength="2000"
      required>{{ party.description }}</textarea>
  </br >
  <label for="start_date">Alkamis ajankohta</label> </br >
  <input
      type="datetime-local"
      id="start_date"
      name="start_date"
      placeholder="Valitse"
      value="{{ party.start_date }}"
      required>
  </br >
  <label for="category">Valitse kategoria</label> </br >
  <select name="category">
    <option value="{{ party.category_id }}">{{ party.category }}</option>
    {% for category in categories %}
    <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
  </select>
  </br >
  <label for="entry_fee">Sisäänpääsymaksu</label> </br >
  <input
      type="number"
      id="entry_fee"
      name="entry_fee"
      placeholder="Hinta (&euro;)"
      value="{{ party.entry_fee }}"
      >
  <button type="submit">Päivitä</button>
</form>
<p>
  <a href="/party/{{ party.id }}" class="cancel">Peruuta</a>
  <a href="/delete/{{ party.id }}" class="delete">Poista</a>
</p>
{% endblock %}
