<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Juhlakutsut</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
  <header>
    <ul>
      <li>Kirjaudu</li>
      <li>Luo tili</li>
    </ul>
  </header>
  <h1>Juhlakutsut</h1>


  <div class="parties">
    {% for party in parties %}
    <div class="party">
      <a href="/party/{{ party.id }}">
        {{ party.title }}
      </a>
    </div>
    {% endfor %}
  </div>
  </body>
</html>
