{% extends "base.html" %}

{% block title %}Juhlakutsut{% endblock %}

{% block content %}
<div class="main">
<h2>Juhlakutsut</h2>

<ul class="parties">
  {% for party in parties %}
  <div class="party">
    <a href="/party/{{ party.id }}">{{ party.title }}</a>
    <br />
    Järjestäjä: <a href="/user/{{ party.organizer_id }}">{{ party.organizer_displayname }}</a>
    <br />
    {% if party.entry_fee %}
      <span class="fee">{{ party.entry_fee }} &euro;</span>
    {%else%}
      <span class="free">Ilmanen</span>
    {% endif %}
    <span class="datetime">{{ party.start_date }}</span>
    {% if party.category %}
      <span class="category {{ party.category }}">{{ party.category }}</span>
    {% endif %}
    <br />
    <!-- Vieraiden määrä: {{ party.guest_count }} -->
  </div>
  {% endfor %}
</ul>
</div>
{% endblock %}
