{% extends "base.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<form action="/login" method="post" class="form">
  <p>
  <label for="username" class="required" title="Pakollinen kenttä">Käyttäjätunnus</label>
  <br>
  <input
      type="text"
      name="username"
      placeholder="Käyttäjänimi"
      value="{{ filled.username }}"
      required>
  </p>
  <p>
  <label for="password" class="required" title="Pakollinen kenttä">Salasana</label>
  <br>
  <input
      type="password"
      name="password"
      placeholder="Salasana"
      required>
  <br>
  <p>
  <button type="submit">Kirjaudu</button>
</form>
{% endblock %}
