{% extends "base.html" %}

{% block title %}Kutsu {{ party.title }} juhliin{% endblock %}

{% block content %}
<div class="party-big">
  <h3>{{ party.title }}</h3>
  {% if party.category %}
    <span class="category {{ party.category }}">{{ party.category }}</span>
  {% endif %}
  <p> {{ party.description | show_lines }} </p>

  <h4>Järjestäjä</h4>
  <a href="/user/{{ party.organizer_id }}">{{ party.organizer }}</a>

  <h4>Vieraiden määrä</h4>
  <p> {{ party.guest_count }} </p>

  <h4>Päivämäärä</h4>
  <p class="datetime">{{ party.start_date }}</p>

  <h4>Sisäänpääsymaksu</h4>
  {% if party.entry_fee %}
    <p class="fee">{{ party.entry_fee }} &euro;</p>
  {% else %}
    <p>Ilmainen</p>
  {% endif %}

  {% if session.user_id %}
    {% if session.user_id == party.organizer_id %}
      <form action="/edit/{{ party.id }}" method="get">
        <button type="submit">Muokkaa</button>
      </form>
      <h3>Vieraat</h3>
      <ol>
        {% for attendee in attendees %}
        <li>
          {{ attendee.displayname }}
        </li>
        {% endfor %}
      </ol>
    {% else %}
      {% if is_guest %}
      <form action="/attend/{{ party.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit" name="cancel">Peru ilmottautuminen</button>
      </form>
      {% else %}
      <form action="/attend/{{ party.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit" name="attend">Ilmottaudu</button>
      </form>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}
