{% extends "base.html" %}

{% block title %}Luo tili{% endblock %}

{% block content %}
<form action="/register", method="post">
  <p>Käyttäjätunnus</p>
  <input
      type="text"
      name="username"
      placeholder="Käyttäjänimi">
  <p>Kutsumanimi</p>
  <input
      type="text"
      name="displayname"
      placeholder="Kutsumanimi">
  <p>Salasana</p>
  <input
      type="password"
      name="password"
      placeholder="Salasana">
  <p>Salasana uudestaan</p>
  <input
      type="password"
      name="password2"
      placeholder="Salasana">
  <button type="submit">Luo tili</button>
</form>
{% endblock %}
