{% extends "base.html" %}

{% block title %}Luo tili{% endblock %}

{% block content %}
<form action="/register" method="post" class="form">
  <p>
  <label for="username" class="required" title="Pakollinen kenttä. 1-30 merkkiä">Käyttäjätunnus</label>
  <br>
  <input
      type="text"
      name="username"
      placeholder="Käyttäjänimi"
      required>
  </p>
  <p>
  <label for="displayname" class="required" title="Näkyy muille käyttäjille. Pakollinen. 1-30 merkkiä">Kutsumanimi</label>
  <br>
  <input
      type="text"
      name="displayname"
      placeholder="Kutsumanimi"
      required>
  </p>
  <p>
  <label for="password" class="required" title="Pakollinen kenttä. 10-200 merkkiä">Salasana</label>
  <br>
  <input
      type="password"
      name="password"
      placeholder="Salasana"
      required>
  </p>
  <p>
  <label for="password2" class="required" title="Pakollinen kenttä. 10-200 merkkiä">Salasana uudestaan</label>
  <br>
  <input
      type="password"
      name="password2"
      placeholder="Salasana"
      required>
  </p>
  <button type="submit">Luo tili</button>
</form>
{% endblock %}
