<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luo tili</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
    <form action="/register", method="post">
      <p>Käyttäjätunnus</p>
      <input
        type="text"
        name="username"
        placeholder="Käyttäjänimi">
      <p>Salasana</p>
      <input
        type="password"
        name="password"
        placeholder="Salasana">
      <p>Salasana uudestaan</p>
      <input
        type="password"
        name="password2"
        placeholder="Salasana">
      <button type="submit">Luo tili</button>
    </form>
  </body>
</html>
