{% extends "base.html" %}

{% block title %}{{ user.displayname }}{% endblock %}

{% block content %}
<h2>Käyttäjän {{ user.displayname }} järjestämät juhlat</h2>
<p>Yhteensä {{ party_count }}</p>
<ul class="parties">
  {% for party in parties %}
  <div class="party">
    <a href="/party/{{ party.id }}">{{ party.title }}</a>
    <br />
    {% if party.entry_fee %}
      <span class="fee">{{ party.entry_fee }} &euro;</span>
    {%else%}
      <span>Ilmanen</span>
    {% endif %}
    <span class="datetime">{{ party.start_date }}</span>
    <br />
    <!-- Vieraiden määrä: {{ party.guest_count }} -->
  </div>
  {% endfor %}
</ul>
<h2>Käyttäjän {{ user.displayname }} vierallut juhlat</h2>
<p>Yhteensä {{ attend_count }}</p>
<ul class="parties">
  {% for party in attended %}
  <div class="party">
    <a href="/party/{{ party.id }}">{{ party.title }}</a>
    <br />
    {% if party.entry_fee %}
      <span class="fee">{{ party.entry_fee }} &euro;</span>
    {%else%}
      <span>Ilmanen</span>
    {% endif %}
    <span class="datetime">{{ party.start_date }}</span>
    <br />
    <!-- Vieraiden määrä: {{ party.guest_count }} -->
  </div>
  {% endfor %}
</ul>
{% endblock %}
